.picture_answer {
  width: 200px;
  height: 200px;
  float: right;
}

.jumbotron {
  background-color: #024B7F;
  color: #0396FF;
  text-align: center;
  border-style: double;
  border-color: #012540;
  border-width: 80px;
}

body {
  background-color: #0489E8;
}

.row {
  border-style: groove;
  text-align: center;
  margin: 12px;
  padding-left: : 6px;
  padding-right: 6px;
  padding-bottom: 20px;
  border-width: 10px;
}

#paris {
  display: none;
}

#mexico {
  display: none;
}

#yellowstone {
  display: none;
}

#aspen {
  display: none;
}

#stumped {
  display: none;
}

h2 {
  color: #012540;
}

.lamp {
  width: 300px;
  height: auto;
  float: right;
}
